@background: rgb(248, 248, 248);

@headerHeight: 40px;
@headerBookBaseline: 10px;

@headerBookWidth: 60px;
@headerBookHeight: 100px;
@headerBookCurrentHeight: 150px;

@headerBookDistance: 10px;

@headerBookBorder: rgb(150, 150, 150);

@headerBookShadow: 0 2px 5px rgba(0, 0, 0, .5);

@bookInfoWidth: 900px;

@verticalRhythm: 30px;

@serif: 'Skolar', Georgia, serif;
@sansSerif: 'Myriad Pro', Arial, sans-serif;

@bookCoverCloseTime: 500ms;
@bookCoverOpenTime: 250ms;

@captionColor: rgb(128, 128, 128);

@coverHighlightColor: #478cb6;

body {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;

  background: @background;

  font-family: @serif;
}
a {
  color: inherit;
}

/* Book info */

.main {
  margin: @verticalRhythm auto;
  width: @bookInfoWidth;  

  margin-bottom: @verticalRhythm * 2 + @headerHeight;
}

.book-info {
  margin: @verticalRhythm auto;
  width: @bookInfoWidth;

  overflow: hidden;

  display: table;

  & .book-cover {
    display: table-cell;
    width: 380px;
    margin-right: 20px;

    & img {
      width: 380px;
    }
  }
  & .metadata {
    display: table-cell;

    vertical-align: middle;

    padding-left: @verticalRhythm;

    & .title {
      padding: 0;
      margin: 0;
      line-height: 68px;

      margin-top: @verticalRhythm;

      font-size: 72px;
      font-weight: 500;

      color: @coverHighlightColor;
    }
    & .subtitle {
      padding: 0;
      margin: 0;
      margin-top: 10px;
      line-height: 42px;
      font-size: 36px;
      font-weight: 600;

      font-style: italic;

      color: lighten(@coverHighlightColor, 20%);
    }
    & .author {
      padding: 0;
      margin: 0;
      line-height: @verticalRhythm;

      font-family: @sansSerif;

      font-weight: 400;

      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 600;
    }
  }
}

.book-subinfo {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;

  & h1 {
    position: absolute;
    margin: 0;
    padding: 0;

    color: @coverHighlightColor;
    padding: 0 10px;

    padding-top: 3px;

    font-family: @sansSerif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
  }
  & p,
  & ul {
    padding-left: 150px;
    padding-bottom: @verticalRhythm;
    margin-bottom: @verticalRhythm;
  }
  & p:not(:last-child),
  & u:not(:last-child) {
    border-bottom: 1px solid fadeout(@coverHighlightColor, 80%);    
  }
  & .story {
    -webkit-columns: 2;
    -webkit-column-gap: @verticalRhythm * 2;
  }
  & ul {
    list-style: none;
  }
}


/* Header */

header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 999;

  background: black;

  height: @headerHeight;

  & .books {
    text-align: right;
    margin: 0;
    padding: 0;
    height: @headerHeight;
    list-style: none;

    & li {
      display: inline-block;
      list-style: none;
      height: @headerHeight;
      margin: 0;
      padding: 0;

      margin-right: @headerBookDistance;

      cursor: pointer;

      position: relative;

      -webkit-perspective: 500;
    }
    & .cover {
      position: relative;
      top: @headerHeight - @headerBookHeight - @headerBookBaseline;

      width: @headerBookWidth;
      height: @headerBookHeight;

      background: white;

      & .title-page {
        content: '';
        
        position: absolute;
        z-index: 20;
        box-shadow: @headerBookShadow;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgb(200, 200, 200);
        -webkit-transition: background @bookCoverCloseTime;
      }
      &:hover .title-page {
        -webkit-transition: background @bookCoverOpenTime;
        background: white;
      }

      & img {
        position: absolute;
        left: 0;
        top: 0;

        box-shadow: @headerBookShadow;

        z-index: 50;

        width: @headerBookWidth;
        height: @headerBookHeight;

        -webkit-transition: -webkit-transform @bookCoverCloseTime;

        -webkit-transform-origin: 0 50%;
      }
      &:hover img {
        -webkit-transition: -webkit-transform @bookCoverOpenTime;

        -webkit-transform: rotateY(-50deg);
      }
    }
  }
}
