@background: rgb(248, 248, 248);

@headerHeight: 40px;
@headerBookBaseline: 10px;

@headerBookHeight: 100px;
@headerBookCurrentHeight: 150px;

@headerBookDistance: 10px;

@headerBookBorder: rgb(220, 220, 220);
@headerBookBorderHover: darken(@headerBookBorder, 10%);

@bookInfoWidth: 900px;

@verticalRhythm: 30px;

@bodyFont: 'Skolar', Georgia, serif;

body {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;

  background: @background;

  //background: -webkit-linear-gradient(rgba(255, 0, 0, .25), transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  //background-size: 100% @verticalRhythm;
  //background-position: 0 0;  

  font-family: @bodyFont;
}

/* Book info */

.main {
  margin: @verticalRhythm auto;
  width: @bookInfoWidth;  

  margin-bottom: @verticalRhythm * 2 + @headerHeight;
}

.book-info {
  margin: @verticalRhythm auto;
  width: @bookInfoWidth;

  overflow: hidden;

  display: table;

  & .book-cover {
    display: table-cell;
    width: 380px;
    margin-right: 20px;

    & img {
      width: 380px;
    }
  }
  & .metadata {
    display: table-cell;

    vertical-align: middle;

    padding-left: @verticalRhythm;

    & .title {
      padding: 0;
      margin: 0;
      line-height: 68px;

      margin-top: @verticalRhythm;

      font-size: 72px;
      font-weight: 500;
    }
    & .subtitle {
      padding: 0;
      margin: 0;
      margin-top: 10px;
      line-height: 42px;
      font-size: 36px;
      font-weight: 600;
    }
    & .author {
      padding: 0;
      margin: 0;
      line-height: @verticalRhythm;

      font-weight: 400;

      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 600;


      font-size: 18px;
    }
  }
}

.book-subinfo {
  font-size: 20px;
  line-height: 30px;
}



/* Header */

header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: black;

  height: @headerHeight;
}

header .books {
  text-align: right;
  margin: 0;
  padding: 0;
  height: @headerHeight;
  list-style: none;
}
header .books li {
  display: inline-block;
  list-style: none;
  height: @headerHeight;
  margin: 0;
  padding: 0;

  margin-right: @headerBookDistance;

  cursor: pointer;

  position: relative;
}
header .books li:hover img {
  border: 1px solid @headerBookBorderHover;
}


header .books img {
  border: 1px solid @headerBookBorder;

  position: relative;
  top: @headerHeight - @headerBookHeight - @headerBookBaseline;
  height: @headerBookHeight;
}
header .books .selected img {
  opacity: .2;
}

header .books li:last-child img {
  top: @headerHeight - @headerBookCurrentHeight - @headerBookBaseline;
  height: @headerBookCurrentHeight;
}