---
layout: base
---

<h1>
  {% include site_title_header.html %}
</h1>

<ol class='nyc-vs-sf'>
  <li>
    {% for page in site.categories.sf limit: 1 %}
      {% include book_homepage.html %}
    {% endfor %}
  <li>
    {% for page in site.categories.nyc limit: 1 %}
      {% include book_homepage.html %}
    {% endfor %}
</ol>

<header class="floating fixed-hover">
  <h1>
    {% include site_title_header.html %}
  </h1>
  <a href="https://twitter.com/techbookclub" title="techbookclub on Twitter" class="twitter"><img src="/images/twitter-bird.png" width=20 height=20/></a>
</header>
