<div class="footer-main">
  <h1>About The Internet Programme</h1>
  <div class="footer-body">
    <img class="logo" src="../images/internetmic-white.png">
    <p>The Internet Programme is an online broadcast about technology and creative arts, hosted by <a href="http://benward.me">Ben Ward</a> and <a href="http://williamcouch.com">Bill Couch</a>. Shows are recorded approximately once a week, from San Francisco&rsquo;s Mission District.</p>
  </div>

  <div class="footer-sidebar">
    <ul>
      <li><a rel="parent" href="/episodes">Episode List</a></li>
      <li><a rel="alternate" href="{{site.itunes}}">iTunes</a></li>
      <li><a type="application/rss+xml" href="{site.feed}}">Subscribe</a></li>
    </ul>
  </div>
</div>

<div class="footer-colophon">
  <abbr title="Copyright">©</abbr>
  <abbr title="{{site.time | date: '%Y'}}">{{site.time | date: '%Y' }}</abbr>
  <address class="h-card"><a class="p-name u-url" href="http://benward.me" rel="author">Ben Ward</a></address>
  and <address class="h-card"><a class="p-name u-url" href="http://williamcouch.com" rel="author">Bill Couch</a></address>
  All rights reserved.
</div>
