<section class='book-info'>
  <p>Currently in {{page.categories}}</p>
  <div class='book-cover'>
    <a class='cover' href="{{page.url}}">
      <div class='title-page'>
        Lorem ipsum mofo gangsta that's the shizzle, consectetizzle adipiscing i saw beyonces tizzles and my pizzle went crizzle. Nullizzle its fo rizzle velizzle, sure volutpizzle, suscipit , gravida that's the shizzle, hizzle. Pellentesque sizzle i'm in the shizzle. Sed da bomb. Shiz at gizzle dapibizzle sure tempus boom shackalack. Maurizzle nizzle for sure cool turpizzle. Vestibulum izzle tortizzle. Pellentesque ghetto rhoncizzle nisi. In phat my shizz tellivizzle dictumst. Donec break it down. Sure tellus nizzle, pretizzle eu, mattizzle ac, eleifend vitae, nunc. suscipizzle. Get down get down semper da bomb cool crazy.
      </div>
      <img src="{{page.cover_url}}">
    </a>
  </div>
  <div class='metadata'>
    <h2 class='author'>
      <a href="{{page.url}}">
        {{page.author}}
      </a>
    </h2>
    <h1 class='title'>
      <a href="{{page.url}}">
        {{page.title}}
      </a>
    </h1>
    {% if page.subtitle %}
    <h1 class='subtitle'>
      <a href="{{page.url}}">
        {{page.subtitle}}
      </a>
    </h1>
    {% endif %}
  </div>
</section>
