<section class='main'>
  <section class='book-info'>
    <div class='book-cover'>
      <img src='{{page.cover_url}}'>
    </div>
    <div class='metadata'>
      <h2 class='author'>
        {{page.author}}
      </h2>
      <h1 class='title'>
        <a href="{{page.permalink_url}}">{{page.title}}</a>
      </h1>
      {% if page.subtitle %}
      <h1 class='subtitle'>
        <a href="{{page.permalink_url}}">{{page.subtitle}}</a>
      </h1>
      {% endif %}
      <h2 class="date-read">
        {{page.date_read |date: '%B %Y'}} &middot; <a href="/{{page.categories}}/">{{page.categories}}</a>
      </h2>
    </div>
  </section>

  <section class='book-subinfo body-text'>
    {% if content %}{{content}}{% else %}{{page.content}}{% endif %}
  </section>
</section>