---
layout: book_{{club}}
category: {{club}}
date_read: "{{date_read}}"
title: "{{title}}"
subtitle: "{{subtitle}}"
author: "{{author}}"
summary: "Another techbookclub selection..."
cover_url: {{cover_url}}
permalink_url: {{permalink_url}}
---

{{#why}}
# TBC
  {{why}}
{{/why}}

{{#story}}
# About
  {{story}}
{{/story}}