<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  <link rel="stylesheet" type="text/css" href="/css/style.less">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <title>{% if page.title %}{{page.title}} · {% endif %}{{site.title}}</title>
</head>
<body>
  <header>
    <h1 class="logo">{% if page.title %}<a class="logo" rel="home" href="/" title="The Internet Programme"><b class="alt">{{site.title}}</b></a>{% else %}<b class="alt">{{site.title}}</b>{% endif %}</h1>
  </header>
  {{content}}
  <footer>
    <div class="legible">
      {% include bio.html %}
    </div>
  </footer>
{% include scripts.html %}
</body>
</html>