<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} – {% endif %}tech book club</title>

  <script src="/scripts/script.js"></script>
  <script type="text/javascript" src="//use.typekit.net/vyl2awp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='/css/style.less' rel='stylesheet/less' type='text/css'>
  <script src='/scripts/libs/less-1.3.3.min.js'></script>
</head>

<body>
  {{content}}

  <script>
    main();
  </script>
</body>

</html>